<a href="https://colab.research.google.com/github/panghanwu/machine_learning_Elwing/blob/main/embedding_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

語言是人類在有意及無意之間訂定出來溝通方式，衍伸出抽象的概念及情緒含意，而難以有系統性的歸類。使用深度學習訓練出詞向量（word vector）模型是一種有效的逼近方法。

詞向量維度 128~512

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

In [2]:
import glob

glob.glob('/root/.keras/datasets/aclImdb/train/pos/*')[0:6]

['/root/.keras/datasets/aclImdb/train/pos/987_8.txt',
 '/root/.keras/datasets/aclImdb/train/pos/8053_8.txt',
 '/root/.keras/datasets/aclImdb/train/pos/3319_9.txt',
 '/root/.keras/datasets/aclImdb/train/pos/4298_10.txt',
 '/root/.keras/datasets/aclImdb/train/pos/2363_7.txt',
 '/root/.keras/datasets/aclImdb/train/pos/12424_9.txt']

In [3]:
import os
import pandas as pd

def read(path):
  with open(path, 'r', encoding='utf-8') as f:
    content = f.read()
  return content

# get path
dn = os.path.dirname(dataset)
pattern = os.path.join(dn, 'aclImdb', 'train', 'pos', '*')
pos = glob.glob(pattern)
pattern = os.path.join(dn, 'aclImdb', 'train', 'neg', '*')
neg = glob.glob(pattern)
sentiments = [1]*len(pos) + [0]*len(neg)

contents = map(read, pos+neg)

pd.DataFrame(contents)

                                                       0
0      The movie is great and I like the story. I pre...
1      This is of of Sammo's great early comedy films...
2      As a long time Red Sox fan, I just had to go s...
3      This movie awed me so much that I watch it at ...
4      This adaptation of M.R. James's short story 'A...
...                                                  ...
24995  It is unbelievable that a script as cliché and...
24996  A film like Amazing Grace and Chuck is a perfe...
24997  This is the biggest load of crap that I have s...
24998  I awake suddenly, aware that I'm drooling onto...
24999  As was to be expected, A Mazursky film made in...

[25000 rows x 1 columns]

In [4]:
# map (similar as pd apply)
'-'.join(map(str, [1,2,3,4,5,6]))

'1-2-3-4-5-6'

In [5]:
def get_data(t):
  dn = os.path.dirname(dataset)
  pattern = os.path.join(dn, "aclImdb", t, "pos", "*.txt")
  pos = glob.glob(pattern)
  pattern = os.path.join(dn, "aclImdb", t, "neg", "*.txt")
  neg = glob.glob(pattern)
  sentiments = [1] * len(pos) + [0] * len(neg)
  contents = map(read, pos + neg)
  df = pd.DataFrame({
      "contents":contents,
      "sentiment":sentiments
  })
  return df

train_df = get_data('train')
test_df = get_data('test')
test_df

                                                contents  sentiment
0      It kept me on the edge of my seat. True, the s...          1
1      Born in 1946 I was about eight years old when ...          1
2      In the 60's Cleveland television audiences cou...          1
3      I think it is a brilliant show with cool talki...          1
4      John Wayne's first starring role just blew me ...          1
...                                                  ...        ...
24995  I am not a big fan of the Spielberg/Cruise ver...          0
24996  The director infuses this film with false dept...          0
24997  As a flying and war movie buff, this ranks at ...          0
24998  I rented this movie under the impression that ...          0
24999  They prove that the cops, when they can't find...          0

[25000 rows x 2 columns]

In [6]:
# parameter
TOK = 3000
LEN = 512
EM = 128

In [7]:
from tensorflow.keras.preprocessing.text import Tokenizer

tok = Tokenizer(num_words=TOK)
# fit_on_texts: fit_transform的fit
tok.fit_on_texts(train_df['contents'])
# seq: 把所有單字換成數字的序列
x_train_seq = tok.texts_to_sequences(train_df['contents'])
x_test_seq = tok.texts_to_sequences(test_df['contents'])

pd.DataFrame(x_train_seq)
# One-hot encoding will cause massive loads on RAM.

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1    17     6    84     2    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11     6     4     4    84   399  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        14     3   193    55   764   334  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        11    17    69    35    73    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        11  1250     4  1976  1477   343  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     9     6  1295    12     3   226  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996     3    19    37   477  1695     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11     6     1  1124     4   592  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10  1081  1884    12   143  1644  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    14    13     5    27   870     3  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [8]:
# tok.word_index
tok.index_word[6]

'is'

In [9]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
# padding: 截長or補短
# truncating: pre 12345 -> 45, post 12345 -> 12 
x_train_pad = pad_sequences(x_train_seq, LEN)
x_test_pad = pad_sequences(x_test_seq, LEN)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    6    ...  505   506  507  508   509  510   511
0        0    0    0    0    0    0    0  ...    2    79    3  280    62    7     7
1        0    0    0    0    0    0    0  ...    6    15   98   39  1474  844   334
2        0    0    0    0    0    0    0  ...   50   258   45   22    23  764   334
3        0    0    0    0    0    0    0  ...   93    11   19    6     3  212    64
4        0    0    0    0    0    0    0  ...   10   199    9  690    43    4   155
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...  ...   ...  ...   ...
24995    0    0    0    0    0    0    0  ...  145   104  631    4    58  110   142
24996    0    0    0    0    0    0    0  ...    7     7  440   22    23   54  1260
24997    0    0    0    0    0    0    0  ...   97   604   11   78    21  103     9
24998    0    0    0    0    0    0    0  ...    1  1779    7    7   871   74  2808
24999    0    0    0    0    0    0    0  ...    2    82  360  153    69   31   961

[25000 rows x 512 columns]

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Dense, Flatten, Dropout

layers = [
      # 1 to 3000 (token) + 0 (padding)
      # param 3001 * 128
      Embedding(TOK+1, EM, mask_zero=True, input_length=LEN),
      Flatten(),
      Dense(128, activation='relu'),
      Dropout(0.25),
      Dense(2, activation='softmax')
]

model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
flatten (Flatten)            (None, 65536)             0
_________________________________________________________________
dense (Dense)                (None, 128)               8388736
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 258
=================================================================
Total params: 8,773,122
Trainable params: 8,773,122
Non-trainable params: 0
_________________________________________________________________

In [11]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer=Adam(),
       metrics=["accuracy"])

y_train = train_df["sentiment"]
y_test = test_df["sentiment"]

callbacks = [
    ModelCheckpoint("model.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad, 
     y_train,
     batch_size=100,
     epochs=50,
     validation_split=0.1,
     callbacks=callbacks)

Epoch 1/50
225/225 [==============================] - 5s 22ms/step - loss: 0.4789 - accuracy: 0.7684 - val_loss: 0.2695 - val_accuracy: 0.8896
Epoch 2/50
225/225 [==============================] - 5s 20ms/step - loss: 0.1627 - accuracy: 0.9409 - val_loss: 0.4614 - val_accuracy: 0.8188
Epoch 3/50
225/225 [==============================] - 5s 21ms/step - loss: 0.0350 - accuracy: 0.9918 - val_loss: 0.5915 - val_accuracy: 0.8228
Epoch 4/50
225/225 [==============================] - 4s 20ms/step - loss: 0.0054 - accuracy: 0.9996 - val_loss: 0.6985 - val_accuracy: 0.8220
Epoch 5/50
225/225 [==============================] - 4s 20ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.7725 - val_accuracy: 0.8352
Epoch 6/50
225/225 [==============================] - 4s 20ms/step - loss: 5.4696e-04 - accuracy: 1.0000 - val_loss: 0.8424 - val_accuracy: 0.8300

In [12]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.3064 - accuracy: 0.8694

[0.30636370182037354, 0.8694400191307068]

In [13]:
"""Smaller model to avoid overfitting"""
from tensorflow.keras.layers import GlobalAveragePooling1D

layers = [
  Embedding(TOK+1, EM, mask_zero=True, input_length=LEN),
  GlobalAveragePooling1D(),
  Dense(2, activation="softmax")  
]
model = Sequential(layers)
model.summary()
# This model is actually a linear model (no activation).

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer=Adam(),
       metrics=["accuracy"])

callbacks = [
    ModelCheckpoint("model.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad, 
     y_train,
     batch_size=100,
     epochs=50,
     validation_split=0.1,
     callbacks=callbacks)

Epoch 1/50
225/225 [==============================] - 4s 18ms/step - loss: 0.5680 - accuracy: 0.7174 - val_loss: 0.5281 - val_accuracy: 0.7436
Epoch 2/50
225/225 [==============================] - 4s 17ms/step - loss: 0.3597 - accuracy: 0.8656 - val_loss: 0.3455 - val_accuracy: 0.8604
Epoch 3/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2908 - accuracy: 0.8870 - val_loss: 0.3443 - val_accuracy: 0.8572
Epoch 4/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2593 - accuracy: 0.8997 - val_loss: 0.3263 - val_accuracy: 0.8652
Epoch 5/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2406 - accuracy: 0.9077 - val_loss: 0.3338 - val_accuracy: 0.8640
Epoch 6/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2277 - accuracy: 0.9127 - val_loss: 0.2956 - val_accuracy: 0.8832
Epoch 7/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2184 - accuracy: 0.9173 - val_loss: 0.3468 - val_accuracy: 0.8580
Epoch 8/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2113 - accuracy: 0.9211 - val_loss: 0.3210 - val_accuracy: 0.8728
Epoch 9/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2063 - accuracy: 0.9224 - val_loss: 0.3360 - val_accuracy: 0.8676
Epoch 10/50
225/225 [==============================] - 4s 17ms/step - loss: 0.2017 - accuracy: 0.9236 - val_loss: 0.3789 - val_accuracy: 0.8508
Epoch 11/50
225/225 [==============================] - 4s 17ms/step - loss: 0.1983 - accuracy: 0.9256 - val_loss: 0.3857 - val_accuracy: 0.8496

In [15]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.2877 - accuracy: 0.8822

[0.2877269685268402, 0.8821600079536438]

In [16]:
"""Transfer"""
layers = [
      Embedding(TOK+1, EM, mask_zero=True),
      GlobalAveragePooling1D()
]

w = model.layers[0].get_weights()
infer = Sequential(layers)
layers[0].set_weights(w)
infer.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, None, 128)         384128
_________________________________________________________________
global_average_pooling1d_1 ( (None, 128)               0
=================================================================
Total params: 384,128
Trainable params: 384,128
Non-trainable params: 0
_________________________________________________________________

In [17]:
infer.layers[0].get_weights()

[array([[-0.02218994,  0.00415281, -0.04009752, ...,  0.01570335,
          0.01934442, -0.03692819],
        [ 0.01228991, -0.00661693, -0.05040083, ..., -0.06080383,
          0.04308648,  0.02012643],
        [-0.0095779 , -0.0284681 ,  0.00342008, ..., -0.03096187,
          0.05158565,  0.04923393],
        ...,
        [-0.1728997 , -0.14244229, -0.17750655, ..., -0.18114968,
          0.14085631,  0.16097908],
        [-0.13334316, -0.08936356, -0.1524125 , ..., -0.15768898,
          0.12056544,  0.07930259],
        [-0.00436962,  0.04573396, -0.00558579, ..., -0.00042681,
          0.03731621,  0.01035265]], dtype=float32)]

In [18]:
# 2500, 512
# [512 list, 512 list]
target = 'like'
# [1 list]
pre = infer.predict([[tok.word_index[target]]])
print(pre.shape)
print(pre[0])

(1, 128)
[ 0.0080252  -0.02995979  0.04983772 -0.01563751  0.00305136  0.01015622
  0.03438783 -0.02202568 -0.04169523 -0.02366203 -0.0009949   0.01002031
  0.01515875  0.02979215  0.0080432   0.0057831   0.01696806  0.04761397
 -0.04691017  0.02165945 -0.00587998  0.00931133  0.02309883  0.03182927
 -0.04906029  0.01026152 -0.01076967  0.02629391  0.0337213  -0.03321799
  0.0031515   0.05292618  0.03292002 -0.0581564  -0.02957845  0.03056128
 -0.04184957 -0.03976836 -0.0417236   0.01729242 -0.00209633  0.01507044
 -0.02631672 -0.01934501  0.0210089  -0.00767471  0.02637418  0.04384295
  0.04369488 -0.00324084  0.04800795 -0.00501041  0.0384395   0.03132186
 -0.01161936 -0.02700825  0.02187215 -0.01637232 -0.00180008  0.04083262
 -0.0038489   0.00554547 -0.03265176 -0.04943574 -0.03201077 -0.00017197
 -0.01198093 -0.02868249  0.00455019  0.00852276  0.02849007  0.02419498
 -0.00625032  0.04185596  0.0168527  -0.0008918   0.03547523  0.00821815
 -0.00297699 -0.04017522  0.05617436 -0.02782786  0.01898452 -0.01917701
 -0.0488805  -0.00364624  0.0507686   0.04795784 -0.00864821  0.00124707
 -0.05157855 -0.03059652  0.0310104   0.0398622  -0.00276712  0.05187452
  0.02652773 -0.03002741  0.01900979 -0.01664951 -0.03474829 -0.03824509
 -0.01093265 -0.04743683 -0.0376285   0.03662919  0.05602802  0.00092801
  0.00114337  0.01013723  0.03106814  0.0263477  -0.05433802  0.00850714
 -0.05613674  0.0549447   0.03046077 -0.0153233   0.00955037  0.02870546
  0.02046595  0.0521976   0.03092401  0.03822271  0.02588751  0.05040538
  0.01136532  0.02892324]